params { 
    expr = 'data/headless.tsv'
    genes = 'data/genes.tsv'
    NumGenes = 24107
    outdir = "data/seidr/results"
    seidr_container = "singularity/seidr_0.14.2.sif"
    PositiveGoldStandard = "data/Positive_Control_edges_from_KEGG.tsv"
    NegativeGoldStandard = ""
}

trace.overwrite = true
report.overwrite = true
timeline.overwrite = true
dag.overwrite = true

process {
    executor = 'slurm'
    clusterOptions = '-A HPC2N2026-155'
    report {
            overwrite = true
        }

        withName: 'ROCPLOT' {
        cpus = 1
        memory = '8 GB'
        time = '3h'
    }

    withName: 'ROC' {
        cpus = 1
        memory = '12 GB'
        time = '3h'
    }

    withName: 'ROCNONEGATIVE' {
        cpus = 1
        memory = '12 GB'
        time = '3h'
    }

    withName: 'AGGREGATE' {
        cpus = 28
        memory = '50 GB'
        time = '12h'
    }

    withName: 'HARDTHRESHOLD' {
        cpus = 2
        memory = '8 GB'
        time = '4h'
    }

    withName: 'BACKBONE' {
        cpus = 2
        memory = '8 GB'
        time = '12h'
    }

    withName: 'PEARSON' {
        cpus = 12
        memory = '8 GB'
        time = '12h'
    }

    withName: 'SPEARMAN' {
        cpus = 12
        memory = '8 GB'
        time = '12h'
    }

    withName: 'PCOR' {
        cpus = 28
        memory = '8 GB'
        time = '12h'
    }

    withName: 'MI' {
        cpus = 4
        memory = '8 GB'
        time = '36h'
    }

    withName: 'CLR' {
        cpus = 28
        memory = '8 GB'
        time = '36h'
    }

    withName: 'ARACNE' {
        cpus = 28
        memory = '8 GB'
        time = '36h'
    }

    withName: 'GENIE3' {
        cpus = 40
        memory = '16 GB'
        time = '72h'
    }

    withName: 'LLR' {
        cpus = 28
        memory = '16 GB'
        time = '120h'
    }

    withName: 'NARROMI' {
        cpus = 28
        memory = '8 GB'
        time = '36h'
    }

    withName: 'PLSNET' {
        cpus = 28
        memory = '8 GB'
        time = '36h'
    }

    withName: 'TIGRESS' {
        cpus = 60
        memory = '40 GB'
        time = '168h'
    }


}

singularity {
    enabled = true
    autoMounts = true
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capture Nextflow log files
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

